.evolution-section {
  background-image: linear-gradient(
    180deg,
    #000000 0%,
    #555555 50%,
    #000000 100%
  );
}

@media (min-width: 1px) {
  .evolution-section {
    height: 150vh;
  }
}

@media (min-width: 768px) {
  .evolution-section {
    height: 100vh;
  }
}
.evolution-section .card-title {
  height: 2rem;
}
