/* IntroComponent.css */
.intro-section {
  height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

.intro-section .carousel {
  border-radius: 50%;
  overflow: hidden;
}

.intro-section .custom-badge {
  background-color: var(--bs-primary);
}

.intro-section .custom-outline {
  border-color: var(--bs-primary);
  color: var(--bs-primary);
}
