.mint-section .btn-mint {
  background: var(--bs-primary);
  color: white;
}

.mint-section .btn-mint:hover {
  background-color: var(--bs-primary); /* Change background color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}
