@media (min-width: 1px) {
  .mybird-section {
    height: 150vh;
  }
}

@media (min-width: 992px) {
  .mybird-section {
    height: 85vh;
  }
}

.bg-red {
  background-color: red !important;
}

.text-yellow {
  color: yellow !important;
}
