@media (min-width: 1px) {
  .mybird-section-2 {
    height: 85vh;
  }
  .mybird-section-4 {
    height: 110vh;
  }
  .mybird-section-6 {
    height: 125vh;
  }
  .mybird-section-8 {
    height: 160vh;
  }
}

@media (min-width: 992px) {
  .mybird-section {
    height: 85vh;
  }
}
