@media (min-width: 1px) {
  .team-section {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .team-section {
    height: 100vh;
  }
}

@media (max-width: 767.98px) {
  .team-section .custom-title-style {
    text-align: justify;
  }
}

.team-section img {
  border-radius: 15px 15px 0 0;
}

.team-section .profile-detail {
  height: 8rem;
  position: relative;
  z-index: 1;
  padding: 30px;
  text-align: right;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 0 0 15px 15px;
  background-color: darkslategray;
}

.team-section .profile:hover .profile-detail,
.profile:focus .profile-detail {
  background-color: #070a57;
}

.team-section .profile-detail::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 3px;
  background-color: var(--bs-primary);
  content: "";
  top: 12px;
  right: 30px;
}

.team-section .smallest-text {
  font-size: small;
}
